{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Тестовый блог :: {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block seo_keywords %}
        {% endblock %}
        {% block css %}
            <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        {% endblock %}
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block body %}
        <div class="container">
            <div class='row'>
                <div class='col-sm-12'>
                    <div class="page-header">
                      <h1><a href='{% url "index" %}'>Тестовый блог</a> <small>{% block subheader %}{% endblock %}</small></h1>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-sm-9'>
                    {% block main %}
                        {% for object in object_list %}
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <h3>
                                        <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
                                    </h3>
                                    <p>
                                        {{ object.contents }}
                                        (<small>от {{ object.created_at }}</small>)
                                    </p>
                                </div>
                            </div>
                        {% empty %}
                            <h4>На этой странице нет записей</h4>
                        {% endfor %}
                        {% include "includes/pagination.html" %}
                    {% endblock %}
                </div>
                <div class='col-sm-3'>
                    <h4>Теги</h4>
                    <ul class="list-group">
                        {% for tag in top_tags %}
                            <li class="list-group-item">
                                <a href='{{ tag.get_absolute_url }}'>{{ tag.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block js %}
            <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
            <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        {% endblock %}
    </body>
</html>