{% extends "base.html" %}

{% block title %}{% block subheader %}{{ object.title }}{% endblock %}{% endblock %}

{% block seo_keywords %}
    <meta name='keywords' content='{{ object.keywords }}'>
    <meta name='description' content='{{ object.description }}'>
{% endblock %}

{% block main %}
    <div class='row'>
        <div class='col-sm-12'>
            <h3>
                <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a>
            </h3>
            <p>{{ object.contents }}</p>
        </div>
    </div>
    <div class="panel panel-default" style='margin-top: 10px'>
      <div class="panel-heading">Комментарии</div>
      <div class="panel-body">
        {% for object in comments %}
            <div class='row'>
                <div class='col-sm-12'>
                    <p>{{ object.contents }} <small>(оставил {{ object.username }} {{ object.created_at }})</small></p>
                </div>
            </div>
        {% endfor %}
        <form role="form" method='POST' action=''>
          {% csrf_token %}
          <div class="form-group{% if form.username.errors %} has-error{% endif %}">
            <label>{{ form.username.label }}</label>
            {{ form.username }}
            {% if form.username.errors %}
                <p class="help-block">{{ form.username.errors|join:', ' }}</p>
            {% endif %}
          </div>
          <div class="form-group{% if form.contents.errors %} has-error{% endif %}">
            <label>{{ form.contents.label }}</label>
            {{ form.contents }}
            {% if form.contents.errors %}
                <p class="help-block">{{ form.contents.errors|join:', ' }}</p>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-success">Оставить свой комментарий</button>
        </form>
      </div>
    </div>
{% endblock %}