{% load staticfiles %}

<script type='text/javascript' src='{% static "jquery/dist/jquery.min.js" %}'>
</script>
<script type='text/javascript'>
    $(document).ready(function() {
        $('.model-mainpageoptions a.addlink').css('display', 'none');
    });
</script>