{% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% for page in page_obj.paginator.page_range %}
            <li{% if page_obj.number == page %} class='disabled'{% endif %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
      </ul>
    </nav>
{% endif %}